body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #c0e9ff;
}

.glyphicon-thumbs-up { cursor:pointer }



main 					{
  padding-top:30px;
}


/*===================== *!*/

.navbar {
  background-color: #c0e9ff;

}

/* basic menu styles */
.block-menu {
  display: block;
  background: #c0e9ff;
}

.block-menu li {
  display: inline-block;
}

.block-menu li a {
  color: #fff;
  display: block;
  text-decoration: none;
  font-family: 'Passion One', Arial, sans-serif;
  font-smoothing: antialiased;
  text-transform: uppercase;
  overflow: visible;
  line-height: 20px;
  font-size: 24px;
  padding: 15px 10px;
}

/* animation domination */
.three-d {
  perspective: 200px;
  transition: all .07s linear;
  position: relative;
  cursor: pointer;
}
/* complete the animation! */
.three-d:hover .three-d-box,
.three-d:focus .three-d-box {
  transform: translateZ(-25px) rotateX(90deg);
}

.three-d-box {
  transition: all .3s ease-out;
  transform: translatez(-25px);
  transform-style: preserve-3d;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

/*
	put the "front" and "back" elements into place with CSS transforms,
	specifically translation and translatez
*/
.front {
  transform: rotatex(0deg) translatez(25px);
}

.back {
  transform: rotatex(-90deg) translatez(25px);
  color: #fff;
}

.front, .back {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #c0e9ff;
  padding: 17px 10px;
  color: #000;
  pointer-events: none;
  box-sizing: border-box;
}