<div class="jumbotron text-center" id= "registered">
    <h1>Patient in system</h1>

    <p>{{ message }}</p>


<div ng-controller="allPatientsController as list">
    <table align="center" valign="middle">
        <tbody ng-repeat="patient in patients | orderBy:'-first'">
        <tr style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign=" middle
        "; >
        <td name="first">
            <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign=" middle";>{{patient.first}}
            </span>
        </td>
        <td name="last">
            <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign=" middle";>{{patient.last}}
            </span>
        </td>
        <td name="age">
            <span class="glyphicon glyphicon-calendar"></span>
            {{patient.age}}&nbsp&nbsp&nbsp
        </td>
        <td name="gender">
            <span class="glyphicon glyphicon-user"></span>
            {{patient.gender}}&nbsp
        </td>
        <td>
            <span class="glyphicon glyphicon-phone"></span>
            {{patient.mobile}}
        </td>
        <td>

            <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign=" middle";>


            <button type="button" class="btn btn-default" ng-click="delete(patient._id)">
                <span class="glyphicon glyphicon-remove"></span> Remove
            </button>
            <button type="button" class="btn btn-default" ng-click="update(patient)">
                <span class="glyphicon glyphicon-edit"></span> Edit
            </button>
            </span>
        </td>
        </tr>
        </tbody>
    </table>
    <tr>
        <td>
            <input type="tel" id="contact" ng-model="current.mobile" value="{{current.mobile}}"/>
        </td>
    </tr>
    <tr>
        <td>
            <button ng-click="save(current._id)">Save</button>
        </td>
    </tr>
    <!--<ul>-->
        <!--<li>-->
            <!--<input type="tel" id="contact" ng-model="current.contact" value="{{current.contact}}"/>-->
            <!--<input type="text" id="address" ng-model="current.address" value="{{current.address}}"/>-->
        <!--</li>-->
        <!--<li>-->
            <!--<button ng-click="save(current._id)">Save</button>-->
        <!--</li>-->
    <!--</ul>-->
</div></div>